{% if site.giscus.repo and site.giscus.repo_id and site.giscus.category_id %}
<section id="comments-area" class="comments-area">
    <h2 class="comments-title">Comments</h2>
    <div class="comments-inside">
        <script src="https://giscus.app/client.js"
                data-repo="{{ site.giscus.repo }}"
                data-repo-id="{{ site.giscus.repo_id }}"
                data-category="{{ site.giscus.category }}"
                data-category-id="{{ site.giscus.category_id }}"
                data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="light"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
        <noscript>Please enable JavaScript to view the comments.</noscript>
    </div><!-- .comments-inside -->
</section><!-- .comments-area -->
{% endif %}
